@import 'variables';

.footer {
  padding: 32px 0;
  background-color: $color-bg;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo-img {
    height: 14px;
    width: auto;
    object-fit: contain;
  }

  &__copy {
    font-size: 11px;
    letter-spacing: 0.5px;
    color: $color-secondary;
  }
}
