$font-family: 'Space Grotesk', sans-serif;
$font-mono: 'Space Mono', monospace;
$color-bg: #fff;
$color-text: #000;
$color-paragraph: #292929;
$color-secondary: #7e7e83;
$color-border: #e6e6e6;
$color-card-bg: #f4f5f6;
$color-input-bg: #f4f5f6;
$transition-duration: 0.3s;
