@import 'variables';
@import 'reset';
@import 'container';
@import 'header';
@import 'hero';
@import 'recommended';
@import 'categories';
@import 'contact';
@import 'footer';

body {
  font-family: $font-family;
  color: $color-text;
  background-color: $color-bg;
  overflow-x: hidden;
}
